body { 
            font-family: 'Inter', sans-serif; 
            background-color: #fffafb; 
        }
        .fancy-font { 
            font-family: 'Dancing Script', cursive; 
        }
        #current-img, #current-caption, #current-date { 
            transition: opacity 0.5s ease-in-out; 
            opacity: 1; 
        }
        .fade-out { 
            opacity: 0 !important; 
        }