body {
    font-family: 'Inter', sans-serif;
    background-color: #fffafb;
}

.fancy-font {
    font-family: 'Dancing Script', cursive;
}

/* Smooth transitions for the image and text */
#current-img, #current-caption {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.fade-out {
    opacity: 0 !important;
}